@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');

body {
  background-color: #E8E8E8;
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 5pt;
  padding-right: 5pt;
  color: #5d5d5d;
}
button {
  font-family: 'Josefin Sans', sans-serif;
}
p {
  color: #5d5d5d;
  font-family: 'Josefin Sans', sans-serif;
}
#buttonScreen {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  justify-content: center;
  flex-direction: column;
}
#crear, #buscar {
  border: none;
  background-color: #E8E8E8;
  color: #8f8787;
}
.needed {
  background-color: #E8E8E8;
  border: none;
}
#recetas {
  font-size: 20pt;
  background-color: #e8e8e8;
  width: 80pt;
  margin-left: 5pt;
}
#searchName {
  background-color: #e8e8e8;
  border: none;
  border-bottom-style: none;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-bottom-style: solid;
  border-color: white;
  border-radius: 0;
  box-shadow: none;
}
#no_results {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#search {
  display: flex;
}
#searchNameUI {
  flex: 1 0 auto;
  align-self: center;
}
.shiny-input-container {
  width: 100%;
  margin-bottom: 0px;
}
.irs-line, .irs-bar, .irs-bar-edge {
  height: 3px !important;
  top: 27px !important;
  background: black !important;
  border: 1px solid !important;
}
.irs-slider {
  border: 4px solid black !important;
}
#irs-active-slider .irs-slider:hover {
  background: #000 !important;
}
.irs-grid-pol {
  display: none !important;
}
.irs-grid-text {
  display: none !important;
}
.irs-min, .irs-max {
  background: none !important;
  color: #5d5d5d !important;
  font-family: 'Josefin Sans', sans-serif !important;
}
.irs-single {
  background: none !important;
  color: #5d5d5d !important;
  font-family: 'Josefin Sans', sans-serif !important;
}
#region .control-label {
  border-bottom: 3px solid white !important;
}
