<img src="{{ dificultadImage }}" style="max-width: 20px; margin-right: 2px"/>
<span style="font-size: 10pt; margin-right: 2px">{{ dificultadText }}</span>
<img src="img/Iconos especial cocina-04.png" style="max-width: 20px; margin-right: 2px"/>
<span style="font-size: 10pt; margin-right: 2px">{{ tiempo }} mins</span>
<a href="{{ twitter }}">
  <img src="img/Iconos especial cocina-12.png" style="max-width: 20px; margin-right: 2px"/>
</a>
<a href="{{ facebook }}">
  <img src="img/Iconos especial cocina-09.png" style="max-width: 20px; margin-right: 2px"/>
</a>
<hr />
<p style="font-size: 10pt;">
  {{ instructions }}
</p>
