<button id={{ id }} class="needed" style="width: 100%; text-align: left; color: #5d5d5d; margin-left: 15px; margin-right: 15px;" data-toggle="modal" data-target="#receta_detail">
  <div style="display: flex; border-bottom: 1px solid white">
    <span style="margin-right: 2px">
      <span style="font-size: 15pt;">{{ name }}</span>
    </span>
    <span style="display: flex; align-items: center;">
      <img src="img/Iconos especial cocina-04.png" style="max-width: 20px" {{ hiddenTiempo }} />
      <span style="font-size: 10pt;">{{ tiempo }}</span>
    </span>
  </div>
</button>
<br />
<br />
